@page "/"

<div class="container" style="width: auto; margin-top: 100px">
    <div class="img-fluid" style="text-align: center">
        <AuthorizeView>
            <h1 class="justify-content-center align-middle ">Hello @context.User.Identity.Name</h1>
        </AuthorizeView>
        <img src="images/trip-share.jpg" style="width: 750px;height: 500px"/>
    </div>

</div>



