@page "/UserSignUp"
@using Domain.Model
@using HttpClient.ClientImplementation

@inject IUserClient UserClient;
<h3>UserSignUp</h3>
<div class="card">
    <h3>Create User</h3>
    <div class="input"></div>
    <label> Email :</label>
    <input type="text" @bind="Email" @bind:event="oninput"/>
  
    <label> Password :</label>
    <input type="password" @bind="Password" @bind:event="oninput"/>
 
    <label> First Name :</label>
    <input type="text" @bind="Firstname" @bind:event="oninput"/>
 
    <label> Last Name :</label>
    <input type="text" @bind="Lastname" @bind:event="oninput"/>
 
    <label> Phone Number :</label>
    <input type="text" @bind="PhoneNumber" @bind:event="oninput"/>
   
    <label> Address :</label>
    <input type="text" @bind="Address" @bind:event="oninput"/>
  
    <label> Driving License Number :</label>
    <input type="text" @bind="DriveLicense" @bind:event="oninput"/>
    @if (string.IsNullOrEmpty(DriveLicense))
    {
        DriveLicense = null;
    }
    <div class="button-row">
        <button @onclick="CreateAsync" disabled="@(string.IsNullOrEmpty(Email))" class="acceptbtn">Create</button>
        <label style="color: @Color">@Msg</label>
        
    </div>

</div>

@code {
    private string Email = "";
    private string Password = "";
    private string Firstname = "";
    private string Lastname = "";
    private string PhoneNumber = "";
    private string Address = "";
    private string? DriveLicense = "";
    private string Color = "";
    private string Msg = "";
    private string SuccessMsg = "";

    private async Task CreateAsync()
    {
        Msg = "";
        try
        {
            await UserClient.CreateAsync(new User(Email, Password, Firstname, Lastname, PhoneNumber, Address, DriveLicense));

            Email = "";
            Password = "";
            Firstname = "";
            Lastname = "";
            PhoneNumber = "";
            Address = "";
            DriveLicense = "";
            Color = "green";
            Msg = "your Account has been add successfully";
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            Msg = e.Message;
            Color = "red";
        }
    }

}